blockquote {
    font-style: normal;
}

.pagination {
    text-align: center;

    ul {
        display: inline-block;
        
        li {
            input {
                margin-left: 0.5em;
                margin-right: 0.5em;
                padding: 0.2em;
                width: 2em;
                text-align: center;
                background-color: white;
                color: black;
            }
        }

        #total_pages {
            text-align: center;
            margin-right: 0.5em;
            margin-left: 0.5em;
        }
    }    
}

code.language-plaintext {
    background: #404040;
    color: white;
}

.author__avatar {
    text-align: center;

    img {
        max-width: 250px;
    }
}

pre.highlight {
    white-space: pre-wrap;
}

/* Gist */
@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/848d6580/stylesheets/monokai.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');